@page
@model CivicAction.Pages.Accounts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.FirstMidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.FirstMidName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Grade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.School)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.School)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.IsAdmin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.IsAdmin)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Account.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
